{% extends 'index.html' %}
{% load static %}

{% block titulo %}
  Autor
{% endblock titulo %}

{% block contenido %}


        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Autores</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabla de Datos</h6>
            </div>
            <div class="card-body">
              <button type="button" name="button" class="btn btn-primary">Agregar Autor</button>
              <br><br>
              {% if autores %}
              <div class="table-responsive">
                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for autor in autores %}
                    <tr>
                      <td>{{ autor.id_autor }}</td>
                      <td>{{ autor.nombres }}</td>
                      <td>{{ autor.apellidos }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% else %}
              <h1>NO HAY AUTORES REGISTRADOS</h1>
            {% endif %}
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock contenido %}