{% extends 'index.html' %}
{% load static %}

{% block titulo %}
  Libro
{% endblock titulo %}


{% block buscador %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock buscador %}



{% block contenido %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Libros</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabla de Datos</h6>
            </div>
            <div class="card-body">
            <a href="{% url 'libreria:libro' %}" class="btn btn-primary">Listar todo</a>
              <button class="btn btn-primary" type="button" onclick="abrirModalCreacion('{% url 'libreria:agregar_libro' %}')">Agregar Libro</button>
              <br><br>
              {% if libros %}
              <div class="table-responsive">
                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ISBN</th>
                      <th>Título</th>
                      <th>Fecha de publicación</th>
                      <th>Categoria</th>
                      <th>Precio</th>
                      <th>Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for libro in libros %}
                    <tr>
                      <td>{{ libro.isbn }}</td>
                      <td>{{ libro.titulo }}</td>
                      <td>{{ libro.fecha_pub }}</td>
                      <td>{{ libro.categoria.categoria }}</td>
                      <td><b>${{ libro.precio }}</b> <sup>COP</sup></td>
                      <td>
                        <button class="btn btn-danger" type="button" onclick="abrirModalEliminacion('{% url 'libreria:eliminar_libro' libro.isbn %}')">
                          <i class="fa fa-user-times"></i>
                        </button>
                            
                        <button class="btn btn-primary" type="button" onclick="abrirModalEdicion('{% url 'libreria:editar_libro' libro.isbn %}')">
                          <i class="fa fa-user-edit"></i>
                        </button>
                      
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                <h1>NO HAY LIBROS REGISTRADOS</h1>
              {% endif %}
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


<!-- Ventana modal -->
<div class="modal fade" id="creacion" role="dialog"> 

</div>

<div class="modal fade" id="eliminacion" role="dialog"> 

</div>

<div class="modal fade" id="edicion" role="dialog"> 

{% block extrajs %}
  <script src= "{% static 'js/modals/modals.js' %}"></script>
{% endblock extrajs %}
</div>

{% endblock contenido %}