{% extends 'index.html' %}
{% load static %}

{% block titulo %}
  Pedidos
{% endblock titulo %}


{% block buscador %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock buscador %}

{% block contenido %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">N° Pedidos: {{ carrito.count }}</h1>
            {% if form.errors %}
              {{ form.errors }}
            {% endif %}
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabla de Datos</h6>
              
            </div>
            <div class="card-body">
            <a href="{% url 'libreria:pedidos_cliente' user.id%}" class="btn btn-primary">Listar todo</a>
              <a href="{% url 'libreria:libro' %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i><sup> {{ carrito.count }}</sup></a>
              <br><br>
              {% if pedidos %}
              <div class="table-responsive">
              {% if pedidos.id_cliente.id == user.id %}
              {% else %}
              

              {% endif %}
                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th># Pedido</th>
                      <th>Cliente</th>
                      <th>Libro</th>
                      <th>Fecha</th>
                      <th>Cantidad</th>
                      <th>Valor</th>
                      <th>Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for pedido in pedidos %}
                    {% if pedido.id_cliente.id == user.id %}
              
                    <tr>
                      <td>AP725{{ pedido.id_pedido }}</td>
                      <td>{{ pedido.id_cliente }}</td>
                      <td>
                      <center>{{ pedido.isbn.titulo }}</center>
                          <br>
                        <div class="row-picture">
                          <center><img class="circle" src="/media/{{ pedido.isbn.portada }}" alt="icon" width="80" height="130"></center>
                        </div>   
                      </td>
                      <td>{{ pedido.fecha_pedido }}</td>
                      <td>{{ pedido.cantidad }}</td>
                      <td><b>${{ pedido.valor }}</b> <sup>COP</sup></td>
                      <td>
                        
                        <a class="btn btn-danger" href="{% url 'libreria:eliminar_pedido' pedido.id_pedido %}">
                          <i class="fa fa-user-times"></i>
                        </a>
                  
                      </td>
                    </tr>
                    {% else %}
                    
                    {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                <center><h1>No tienes pedidos</h1></center>
                <center><h4>Puedes comprar libros</h4></center>
                <center><a href="{% url 'libreria:libro' %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i></a></center>
                  <br><br>
              {% endif %}
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
<div class="modal fade" id="eliminacion" role="dialog"> 

</div>
<div class="modal fade" id="creacion" role="dialog"> 

{% block extrajs %}
  <script src= "{% static 'js/modals/modals.js' %}"></script>
{% endblock extrajs %}
</div>
      <!-- End of Main Content -->
{% endblock contenido %}
