<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Eliminar Pedido N° {{ object.id_pedido }}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
        <form action= "{% url 'libreria:eliminar_pedido' object.id_pedido %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <h3 class="modal-title">¿Estás seguro que quiere eliminar este Pedido?</h3>
            </div>
        <div class="modal-footer">
        
            <button class="btn btn-dark" type="button" data-dismiss="modal">
                <i class="fas fa-times-circle"></i>
            </button>
            <button class="btn btn-danger" type="submit">
                <i class="fas fa-check"></i>
            </button>
        </div>
        </form>
    </div>
</div>
