<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Agregar Autor</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
        <form action= "{% url 'libreria:agregar_autor' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
        <div class="modal-footer">
            <button class="btn btn-dark" type="button" data-dismiss="modal">
                <i class="fas fa-times-circle"></i>
            </button>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-check"></i>
            </button>
        </div>
        </form>
    </div>
</div>

